<nav class="navbar navbar-light bg-primary">
  <div>
    <a class="navbar-brand" routerLink="/cryptos">
      <img src="../../../assets/logo.png" alt="" width="130" height="50">
    </a>
    <a class="navbar-brand text-white" routerLink="/cryptos" routerLinkActive="active">
      Inicio
    </a>
  </div>

  <div>
    <h4 class="text-white me-2">
      <a class="text-white shadow-sm text-decoration-none" href="https://www.linkedin.com/in/santiago-encarnacion-smith-8260bb118/" target="_blank" rel="noopener noreferrer">
        Santiago Encarnacion
      </a>
    </h4>
  </div>
</nav>
