<div class="m-2 d-flex justify-content-center flex-column">
  <div class="col-md-12 d-flex justify-content-center">
    <div class="alert alert-primary w-75 text-center" role="alert">
      <h3>Consultar Crypto Monedas (Actualizando en {{ this.timeCallApi - this.count }}s )</h3>
    </div>
  </div>

  <div class="row d-flex justify-content-start">

    <div
      class="card m-2 col-md-3 col-sm-3 shadow-lg zoom h-100"
      role="button"
      style="max-width: 23%;"
      *ngFor=" let coin of quotes">

      <app-cards
          [title]="coin.name"
          [sub_title]="coin.symbol"
          [currency]="coin?.quote?.USD?.price">
      </app-cards>

    </div>

  </div>

  <div class="float-end">
    <button class="btn btn-success float-end m-1" (click)="subscribeInterval()" *ngIf="this.interval?.closed">Iniciar</button>
    <button class="btn btn-danger float-end m-1" (click)="desubscribeInterval()" *ngIf="!this.interval?.closed">Detener</button>
    <button class="btn btn-primary float-end m-1" (click)="resetInterval()">Resetear</button>
  </div>
</div>


